/* set the body background color to black */
@import url(https://fonts.googleapis.com/css?family=Syncopate:400,700);
@import url(//db.onlinewebfonts.com/c/cb54c1bf319c0cb1a7a5dd961b1a7f88?family=Orbitronio);
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap");
@import url(//db.onlinewebfonts.com/c/84ae358e627d67d90bd613fcedc20c10?family=Edwardian+Script+ITC);

body {
    color: black;
    overflow: hidden;
    background-color: #871400;
}

header {
    margin-top: 20px;
    color: #fff;
    text-align: center;
    padding: 20px;
    font: 2rem "Orbitron";



}

h2,
.headline {

    text-align: center;
    font: 2rem "Orbitron";


}

.headline {
    color: rgba(202, 193, 193, 0.712);

}

.nasa {
    align-items: center;
    justify-content: center;
    width: 300px;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

form {

    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.562);
    width: 90%;
    min-width: 350px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 40px #ffffff4b;
    backdrop-filter: blur(10px);
}

.content-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;

}

.from-divider {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    min-width: 150px
}

#submit {
    margin-top: auto;
    padding: 10px 5px;
}

#submit:hover {
    background-color: orange;
    border-radius: 5px;

}

.input-container {
    display: flex;
    justify-content: space-between;
}

.special-input {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.special-input>input {
    width: 100%;
    margin: 0 auto;
}

.curser-pointer {
    cursor: pointer;
}

label {
    margin-right: 6px;
}

.is-invalid {
    border-color: red;
    border-radius: 5px;
}

.error-msg {
    color: red;
    border-radius: 5px;
    text-align: center;
    padding: 5px;

}

input {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px white;
    color: rgba(255, 255, 255, 0.757)
}

#address {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px white;
    text-align: center;
    color: rgba(255, 255, 255, 0.757);
}



#age {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px white;
    text-align: center;
    color: rgba(255, 255, 255, 0.757);
    text-overflow: "";

}

#age:hover {
    background-color: white;
    color: black;
}

.shine {
    animation: shine 1s ease-in-out infinite;
}

@keyframes shine {
    0% {
        color: #fff;
        text-shadow: none;
    }

    50% {
        color: yellow;
        text-shadow: 0 0 10px yellow;
    }

    100% {
        color: #fff;
        text-shadow: none;
    }
}

/*NASA*/

#nasa {
    width: 100%;
    height: 100%;
    visibility: hidden;
}

svg {
    background: hsl(0, 0%, 0%);
}

svg.star-background {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}



.wedding {
    margin-top: 30px;
    color: #a50768a9;
    font-family: "Edwardian Script ITC", cursive;
    font-size: 50px;
}

#secondsubmit {
    margin-top: auto;
    padding: 10px 5px;
    color: black;
}

#secondsubmit:hover {
    border-color: rgb(241, 60, 90);
    color: rgb(241, 60, 90);
    border-radius: 5px;

}

.secondmain {
    height: 100%;
}

.style {
    text-align: center;
}

.secondform {
    background-color: rgba(243, 30, 65, 0.199);
    color: black;
    border-color: rgb(241, 60, 90);
    box-shadow: 0 0 40px #c4169e60;
    justify-content: center;
    align-self: center;


}

.custom {
    text-align: center;
    font-family: "Edwardian Script ITC", cursive;
    font-size: 30px;
}

.size>option {
    background-color: rgb(241, 60, 90);

}



/*--SUBMIT--*/


body {
    background: #111;

}

#submit {
    position: relative;
    padding: 0.75em 2em;
    font: 2rem "Orbitron";
    font-size: 15px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 5px 20px rgba(192, 36, 0, 0.4), 0 2px 2px rgba(192, 36, 0, 0.4);
    background-image: radial-gradient(100% 75% at 50% 100%,
            #fed262 0%,
            #c40900 100%);
    border: none;
    border-radius: 100px;
    box-shadow: inset 0 3px 15px 0 rgba(174, 32, 0, 1),
        inset 0 -3px 0 0 rgba(254, 210, 98, 1),
        inset 0 40px 0 0 rgba(254, 210, 98, 0.4),
        inset 0 20px 20px 0 rgba(248, 191, 69, 1),
        0 0 0 8px #000,
        0 9px 0 0 #444,
        0 0 20px 0 rgba(254, 210, 98, 0.4),
        0 40px 20px -30px rgba(254, 210, 98, 0.2);

    &:before {
        content: "";
        position: absolute;
        z-index: -2;
        top: -2rem;
        left: -4rem;
        right: -4rem;
        bottom: -2rem;
        background: linear-gradient(#333, #151515);
        border-radius: 100px;
        box-shadow: 0 2px 10px #000,
            inset 0 2px 0 #444;
    }

    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        background: #000;
        box-shadow: 0 1px 0 #444;
        height: 10px;
        left: -4rem;
        right: -4rem;
        top: 50%;
        transform: translateY(-50%);
    }

    &:hover {
        cursor: pointer;
        background-image: radial-gradient(100% 75% at 50% 100%,
                #f7b940 0%,
                #a20700 100%);
    }

    &:focus,
    &:active {
        outline: none;
        color: #f9e3bf;
        background-image: radial-gradient(100% 75% at 50% 100%,
                #f58725 0%,
                #850600 100%);
        box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.4),
            inset 0 0 10px rgba(133, 6, 0, 1), inset 0 3px 15px 0 rgba(174, 32, 0, 1),
            inset 0 40px 0 0 rgba(254, 210, 98, 0.3),
            inset 0 20px 20px 0 rgba(248, 191, 69, 0.75), 0 0 0 8px #000,
            0 9px 0 0 #444;
    }
}